
    <!-- footer -->
    <footer class="section footer">

    <!-- footer links -->
    <ul class="footer-links">
      
   
    <!-- single link -->
    <li>
      <a href="#home" class="footer-link scroll-link"> home </a>
    </li>
    <!-- end of single link -->
    <!-- single link -->
    <li>
      <a href="#gallery" class="footer-link scroll-link"> gallery </a>
    </li>
    <!-- end of single link -->
    <!-- single link -->
    <li>
      <a href="#post" class="footer-link scroll-link"> posts </a>
    </li>
    <!-- end of single link -->
    <!-- single link -->
    <li>
      <a href="#" class="footer-link scroll-link"> askexpert </a>
    </li>
    <!-- end of single link -->
    <!-- single link -->
    <li>
      <a href="#" class="footer-link scroll-link"> partners </a>
    </li>
    <!-- end of single link -->
    <!-- single link -->
    <li>
      <a href="#" class="footer-link scroll-link"> events </a>
    </li>
    <!-- end of single link -->

    </ul>
    <!-- end of footer links -->
    
    <!-- footer icons  -->

  

    <ul class="footer-icons">

        <!-- single icon -->
        <a href="https://www.linked-in.com" target="_blank" class="footer-icon">
          <i class="fab fa-linkedin"></i>
        </a>
        
        <!-- end of single icon -->

          <!-- single icon -->
          <a href="https://www.youtube.com" target="_blank" class="footer-icon">
            <i class="fab fa-youtube"></i>
          </a>
          
          <!-- end of single icon -->
      <!-- single icon -->
      <a href="https://www.twitter.com"  target="_blank" class="footer-icon">
        <i class="fab fa-twitter"></i>
      </a>

      <!-- end of single icon -->
    </ul>
      <!-- end of footer icons -->

      <p class="copyright">
        copyright &copy; lawicoltd campany <span id="date"></span>. all rights reserved
      </p>
      </footer>
      <!-- end of footer -->



