
    <!-- header  -->
    <header id="home">

      <!-- navbar -->
      <nav class="navbar">

        <div class="nav-center">
          <!-- nav header -->
          <div class="nav-header">

            <img src="./images/logo.jpeg" class="nav-logo" alt="lawico.logo">

            <button type="button" class="nav-toggle" id="nav-toggle">
              <i class="fas fa-bars"></i>
            </button>


          </div>
          <!-- end of  nav header -->


    <!-- navbar links -->
    <ul class="nav-links show-link" id="nav-links">
    
    
      <!-- single link -->
      <li>
        <a href="#post" class="nav-link scroll-link"> home </a>
      </li>
      <!-- end of single link -->
      
      <!-- single link -->
      <li>
        <a href="#about" class="nav-link scroll-link"> about us </a>
      </li>
      <!-- end of single link -->

        <!-- single link -->
        <li>
          <a href="#services" class="nav-link scroll-link"> our services</a>
        </li>
        <!-- end of single link -->
      <!-- single link -->
      <li>
        <a href="#clients" class="nav-link scroll-link"> our clients</a>
      </li>
      <!-- end of single link -->
      <!-- single link -->
      <li>
        <a href="#contacts" class="nav-link scroll-link"> contact us </a>
      </li>
      <!-- end of single link -->
    
     
    
    </ul>
    <!-- end of nav links -->


        </div>

      </nav>

      <!-- end of navbar -->


      <!-- hero -->

      <div class="hero">
        <div class="hero-banner">
          <h3>
            land & water intervations company(LAWICO)

          </h3>
          <p>
            Lawico is a consulting firm operating in Environmental , Agricultural, Water Management, Educational and Climate sectors.
          </p>
          <a href="#services" class="btn hero-btn scroll-link"> explore our services</a>
        </div>
      </div>
    </header>
    <!-- end of header  -->